html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}
.but1{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 50px;
	color: white;
	background-color: #FB8902;
	width: 50%;
	margin: 0;
}
.but2{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 50px;
	color: #686868;
	background-color: #F1F1F1;
	width: 49%;
	margin: 0;
}
.a1{
	font-size: 60px;
	color: #FB8902;
}
.a2{
	font-size: 40px;
	color: #686868;
}
.brand{
	margin-top: 4%;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 50px;
	color: #0A75A9;
}
.prod{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 65px;
	color: #636363;
}
.rate{
	font-size: 50px;
	font-weight: bold;
	color: #52AD27;
}
.fa-star{
	font-size: 50px;
	color: #52AD27;
}
.fa-star-o{
	font-size: 50px;
	color: #636363;
}

.heart{
	float: right;
	position: relative;
	top: 200px;
}
